<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>
<%- include Partials/main_content.ejs %>
<h3>If you are looking for advice or development in any of the following 
    fields will be able to advise you in guidence, and a solution</h3>

<ul class="s" style="font-weight:600;"> Financial Modeling
   <li class="s"> Requirement gathering </li.s>
   <li class="s"> Limelight Solution </li.s>
   <li class="s"> Vena Solution </li.s>
   <li class="s"> Planning Analytics Solution</li.s>
   <li class="s"> ERP Enhancements </li.s>
   <li class="s"> Dashboards </li.s>
</ul>

<p> <a href="/contact">Contact</a> me for more information</p>

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>